.mainbody {
	/*font-family: "Open Sans",arial,sans-serif;
    line-height: 21px;
    color: #3b3c40;
    font-size: 14px;*/
    padding: 5.55555555% 11.1111111%;
    font-family: "Georgia",serif;
    font-size: 1.15em;
    line-height: 1.55;
    color: #3b3b3b;
}