
/*"Open Sans"*/
body {
  margin: 0px;
}


.nav li a {
    -webkit-transition: background-color .8s; /* Safari */
    transition: background-color .8s;
    transition-timing-function: ease;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #151515;
}

.nav li {
    float: right;
}

.nav li a {
  font-family: "Raleway", "Open Sans", sans-serif;
  font-weight: 300;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    background-color: hsl(210, 10%, 21%);
}

#logo {
  font-family: "Amatic SC", "Open Sans", sans-serif;
  font-size: 20pt;
  display: block;
  float: left;
  color: white;
  padding: 7px 35px;
}