.mainbody {
    padding: 5.55555555% 11.1111111%;
}

p.maintext {
	font-family: "Georgia",serif;
    font-size: 1.15em;
    line-height: 1.5em;
    color: #3b3b3b;
}

h1.maintext {
	font-family: "Raleway", sans-serif;
	color: #3b3b3b;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 1.0em;
    line-height: 1.55;
    margin-top: 0em;
}

/*for horizontal scrollable image gallery*/
#scroll {
height:505px;
margin:0px 0px;
overflow:auto;
white-space:nowrap;
}

#scroll img {
	height: 500px; 
}